table {
    border: 1px solid black;
}

td {
    height: 30px;
    width: 50px;
    border: 1px solid black;
    text-align: center;
}

.bed-time {
    display: inline-block;
}

.wakeup-time {
    display: inline-block;
}